<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <%- include ('partials/head.html')%>
  </head>
  <body>
    <%- include ('partials/navbar.html')%>

    <div class="container">
      <header class="row">
        <div class="col-lg-12 text-center">
          <img
            src="image/pews-logo.png"
            class="animted bounceIn"
            alt="Pew Logo"
          />
        </div>
      </header>
    </div>

    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
          <i class="fab fa-youtube fa-10x"></i>
        </div>
        <div class="col-sm-6">
          <h3>The Most subscribed Youtuber</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam
            vero, rem nihil, eos harum repellat aliquid aperiam earum minus
            dolorem explicabo praesentium voluptatum exercitationem dicta,
            molestias numquam corporis delectus at?
          </p>
        </div>
      </div>
    </div>

    <%- include ('partials/footer.html')%>
  </body>
</html>
